In [146]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind
import os


pd.set_option('max_rows', 500)
pd.set_option('max_colwidth',300)

os.chdir('C:\\Users\\Jason\\Introduction-to-Data-Science') #changes the directory of the script into the correct one to access the 'Energy Indicators file
os.getcwd() #shows current working directory

'C:\\Users\\Jason\\Introduction-to-Data-Science'

In [148]:
## get_list_of_university_towns
##'''Returns a DataFrame of towns and the states they are in from the 
##    university_towns.txt list. The format of the DataFrame should be:
##    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
##    columns=["State", "RegionName"]
def get_list_of_university_towns():
    new_towns = pd.read_table('university_towns.txt', header=None, names=['State', 'RegionName'])
    
    new_towns['RegionName'] = new_towns['State']
    #new_towns = new_towns.drop([200,205])
        ### dropped the two rows that weren't states but we proving difficult to format
    new_towns.loc[(new_towns['State'].str.contains("\[edit\]")),'RegionName'] = 0
        ### changed all adjacent cells in the RegionName column to 0 for easier manipulation
    new_towns['State'] = new_towns['State'].apply(lambda x: x.split('[')[0].strip())
        ### split and stripped all the [edit] away from the state names
    new_towns.loc[(new_towns['RegionName'] != 0), 'State'] = np.nan
        ### reassigned all rows w/o 0 to nan to prepare State column to forward fill
    new_towns['State'] = new_towns['State'].fillna(method='ffill')
        ### filled in all state names where there were NaN values
    new_towns = new_towns.loc[new_towns['RegionName'] != 0]
        ### removed all redundant rows with 0 and no Region information
    new_towns = new_towns.reset_index()
    new_towns = new_towns[['State','RegionName']]
    def split_func(x):
        if '(' in x:
            return x.split('(')[0].strip()
        else:
            return x.strip()
    ### function that when encounters a string with a ( splits it at that location, strips of any whitespace, if no ( does nothing
    ###'(' in new_towns['State'].iloc[0] demonstrate to myself how to correctly use the 'in' operator
    new_towns['RegionName'] = new_towns['RegionName'].apply(split_func)
    return new_towns
get_list_of_university_towns()

              State                                                RegionName
0           Alabama                                                    Auburn
1           Alabama                                                  Florence
2           Alabama                                              Jacksonville
3           Alabama                                                Livingston
4           Alabama                                                Montevallo
5           Alabama                                                      Troy
6           Alabama                                                Tuscaloosa
7           Alabama                                                  Tuskegee
8            Alaska                                                 Fairbanks
9           Arizona                                                 Flagstaff
10          Arizona                                                     Tempe
11          Arizona                                                    Tucson
12         Arkansas                                               Arkadelphia
13         Arkansas                                                    Conway
14         Arkansas                                              Fayetteville
15         Arkansas                                                 Jonesboro
16         Arkansas                                                  Magnolia
17         Arkansas                                                Monticello
18         Arkansas                                              Russellville
19         Arkansas                                                    Searcy
20       California                                                    Angwin
21       California                                                    Arcata
22       California                                                  Berkeley
23       California                                                     Chico
24       California                                                 Claremont
25       California                                                    Cotati
26       California                                                     Davis
27       California                                                    Irvine
28       California                                                Isla Vista
29       California                              University Park, Los Angeles
30       California                                                    Merced
31       California                                                    Orange
32       California                                                 Palo Alto
33       California                                                    Pomona
34       California                                                  Redlands
35       California                                                 Riverside
36       California                                                Sacramento
37       California                       University District, San Bernardino
38       California                                                 San Diego
39       California                                           San Luis Obispo
40       California                                             Santa Barbara
41       California                                                Santa Cruz
42       California                                                   Turlock
43       California                                     Westwood, Los Angeles
44       California                                                  Whittier
45         Colorado                                                   Alamosa
46         Colorado                                                   Boulder
47         Colorado                                                   Durango
48         Colorado                                              Fort Collins
49         Colorado                                                    Golden
50         Colorado                                            Grand Junction
51         Colorado                                                   Greeley
52         Colorado                                                  Gunnison
53         Colorado                                          Pueblo, Colorado
54      Connecticut                                                 Fairfield
55      Connecticut                                                Middletown
56      Connecticut                                               New Britain
57      Connecticut                                                 New Haven
58      Connecticut                                                New London
59      Connecticut                                                    Storrs
60      Connecticut                                               Willimantic
61         Delaware                                                     Dover
62         Delaware                                                    Newark
63          Florida                                                 Ave Maria
64          Florida                                                Boca Raton
65          Florida                                              Coral Gables
66          Florida                                                    DeLand
67          Florida                                                    Estero
68          Florida                                               Gainesville
69          Florida                                                   Orlando
70          Florida                                                  Sarasota
71          Florida                                             St. Augustine
72          Florida                                                   St. Leo
73          Florida                                               Tallahassee
74          Florida                                                     Tampa
75          Georgia                                                    Albany
76          Georgia                                                    Athens
77          Georgia                                                   Atlanta
78          Georgia                                                Carrollton
79          Georgia                                                  Demorest
80          Georgia                                               Fort Valley
81          Georgia                                                  Kennesaw
82          Georgia                                             Milledgeville
83          Georgia                                              Mount Vernon
84          Georgia                                                    Oxford
85          Georgia                                                      Rome
86          Georgia                                                  Savannah
87          Georgia                                                Statesboro
88          Georgia                                                  Valdosta
89          Georgia                                                   Waleska
90          Georgia                                              Young Harris
91           Hawaii                                                     Manoa
92            Idaho                                                    Moscow
93            Idaho                                                 Pocatello
94            Idaho                                                   Rexburg
95         Illinois                                                Carbondale
96         Illinois                                          Champaignâ€“Urbana
97         Illinois                                                Charleston
98         Illinois                                                    DeKalb
99         Illinois                                              Edwardsville
100        Illinois                                                  Evanston
101        Illinois                                                   Lebanon
102        Illinois                                                    Macomb
103        Illinois                                                    Normal
104        Illinois                                                    Peoria
105         Indiana                                               Bloomington
106         Indiana                                            Crawfordsville
107         Indiana                                               Greencastle
108         Indiana                                                   Hanover
109         Indiana                                                    Marion
110         Indiana                                                    Muncie
111         Indiana                                              Oakland City
112         Indiana                                                  Richmond
113         Indiana                                                South Bend
114         Indiana                                               Terre Haute
115         Indiana                                                    Upland
116         Indiana                                                Valparaiso
117         Indiana                                            West Lafayette
118            Iowa                                                      Ames
119            Iowa                                               Cedar Falls
120            Iowa                                        Cedar Rapids, Iowa
121            Iowa                                                   Decorah
122            Iowa                                                   Fayette
123            Iowa                                                  Grinnell
124            Iowa                                                 Iowa City
125            Iowa                                                    Lamoni
126            Iowa                                             Mount Vernon,
127            Iowa                                               Orange City
128            Iowa                                              Sioux Center
129            Iowa                                                Storm Lake
130            Iowa                                                   Waverly
131          Kansas                                              Baldwin City
132          Kansas                                                   Emporia
133          Kansas                                                      Hays
134          Kansas                                                  Lawrence
135          Kansas                                                 Manhattan
136          Kansas                                                 Pittsburg
137        Kentucky                                             Bowling Green
138        Kentucky                                                  Columbia
139        Kentucky                                                Georgetown
140        Kentucky                                          Highland Heights
141        Kentucky                                                 Lexington
142        Kentucky                                                Louisville
143        Kentucky                                                  Morehead
144        Kentucky                                                    Murray
145        Kentucky                                                  Richmond
146        Kentucky                                              Williamsburg
147        Kentucky                                                   Wilmore
148       Louisiana                                               Baton Rouge
149       Louisiana                                                 Grambling
150       Louisiana                                                   Hammond
151       Louisiana                                                 Lafayette
152       Louisiana                                                    Monroe
153       Louisiana                                              Natchitoches
154       Louisiana                                                    Ruston
155       Louisiana                                                 Thibodaux
156           Maine                                                   Augusta
157           Maine                                                Bar Harbor
158           Maine                                                 Brunswick
159           Maine                                                Farmington
160           Maine                                                 Fort Kent
161           Maine                                                    Gorham
162           Maine                                           Lewiston, Maine
163           Maine                                                     Orono
164           Maine                                                Waterville
165        Maryland                                                 Annapolis
166        Maryland                                               Chestertown
167        Maryland                                              College Park
168        Maryland                                                Cumberland
169        Maryland                                                Emmitsburg
170        Maryland                                                 Frostburg
171        Maryland                                             Princess Anne
172        Maryland                                                    Towson
173        Maryland                                                 Salisbury
174        Maryland                                               Westminster
175   Massachusetts                                                    Boston
176   Massachusetts                                               Bridgewater
177   Massachusetts                                                 Cambridge
178   Massachusetts                                             Chestnut Hill
179   Massachusetts                     The Colleges of Worcester Consortium:
180   Massachusetts                                                    Dudley
181   Massachusetts                                             North Grafton
182   Massachusetts                                                    Paxton
183   Massachusetts                                                 Worcester
184   Massachusetts         The Five College Region of Western Massachusetts:
185   Massachusetts                                                   Amherst
186   Massachusetts                                               Northampton
187   Massachusetts                                              South Hadley
188   Massachusetts                                                 Fitchburg
189   Massachusetts                                               North Adams
190   Massachusetts                                               Springfield
191   Massachusetts                                                   Waltham
192   Massachusetts                                              Williamstown
193   Massachusetts                                                Framingham
194        Michigan                                                    Adrian
195        Michigan                                                    Albion
196        Michigan                                                 Allendale
197        Michigan                                                      Alma
198        Michigan                                                 Ann Arbor
199        Michigan                                           Berrien Springs
200        Michigan                                                Big Rapids
201        Michigan                                              East Lansing
202        Michigan                                                     Flint
203        Michigan                                                 Hillsdale
204        Michigan                                                  Houghton
205        Michigan                                                 Kalamazoo
206        Michigan                                                 Marquette
207        Michigan                                                   Midland
208        Michigan                                            Mount Pleasant
209        Michigan                                                    Olivet
210        Michigan                                                   Saginaw
211        Michigan                                          Sault Ste. Marie
212        Michigan                                              Spring Arbor
213        Michigan                                                 Ypsilanti
214       Minnesota                                                   Bemidji
215       Minnesota                                                 Crookston
216       Minnesota                                                    Duluth
217       Minnesota                          Faribault, South Central College
218       Minnesota                                                   Mankato
219       Minnesota                                                  Marshall
220       Minnesota                                                  Moorhead
221       Minnesota                                                    Morris
222       Minnesota                                                Northfield
223       Minnesota                      North Mankato, South Central College
224       Minnesota                                                 St. Cloud
225       Minnesota                                                St. Joseph
226       Minnesota                                                 St. Peter
227       Minnesota                                                    Winona
228     Mississippi                                                 Cleveland
229     Mississippi                                               Hattiesburg
230     Mississippi                                                 Itta Bena
231     Mississippi                                                    Oxford
232     Mississippi                                                Starkville
233        Missouri                                                   Bolivar
234        Missouri                                            Cape Girardeau
235        Missouri                                                  Columbia
236        Missouri                                                   Fayette
237        Missouri                                                    Fulton
238        Missouri                                                Kirksville
239        Missouri                                                 Maryville
240        Missouri                                                     Rolla
241        Missouri                                               Warrensburg
242         Montana                                                   Bozeman
243         Montana                                                    Dillon
244         Montana                                                  Missoula
245        Nebraska                                                   Chadron
246        Nebraska                                                     Crete
247        Nebraska                                                   Kearney
248        Nebraska                                                   Lincoln
249        Nebraska                                                      Peru
..              ...                                                       ...
267      New Jersey                                             New Brunswick
268      New Jersey                                                 Princeton
269      New Jersey                                                     Union
270      New Jersey                                          West Long Branch

In [4]:
## get_recession_start()
## '''Returns the year and quarter of the recession end time as a 
## string value in a format such as 2005q3'''
## For this assignment only look at data from 2000 onward

In [141]:
def get_recession_start():
    gdp_data = pd.read_excel('gdplev.xls',header=None)
    ### read in GDP data from excel into a pandas df
    global gdp_wrk
    gdp_wrk = gdp_data.drop([0,1,2,3,5,7], axis=1) 
        ###if just indexnumbers only need to put in as integers,not strings
    col_changes = {4:'year_q', 6:'GDP_USD'}
        ### columns names to change
    gdp_wrk.rename(columns = col_changes, inplace=True)
        ### renamed columns inplace
    gdp_wrk.dropna(inplace=True)
        ### dropped all rows with NaN values
    gdp_wrk = gdp_wrk.loc[(gdp_wrk['year_q'].str.contains("20"))]
    gdp_wrk = gdp_wrk.append({'year_q':'2016q3','GDP_USD':16583.1},ignore_index=True)
        ### appends the year into the dataframe to use with downstream calcs
        ### selected only the data from 2000 and onward ###cleaned DF where can now work on it
    gdp_wrk.reset_index(drop=True,inplace=True)
        ### reset the df index, drop=True says do not try to place the OG index into the df, just reset it, if False, will place OG index as a new column
    last_num = None
    fi_num = 0
    for year, num in gdp_wrk.itertuples(index=False):
        if last_num == None:
            last_num = num
            fi_num = num
        if num < last_num < fi_num:
            year = gdp_wrk.loc[(gdp_wrk['GDP_USD'] == last_num)]
            # assigned the row watned as a dataframe to a new df object
            # select the first element of the frame, the only from the column 'year_q'
            break
        fi_num = last_num
        last_num = num
    return year.iloc[0]['year_q']

SyntaxError: 'return' outside function (<ipython-input-122-8babaf2114bd>, line 15)

In [72]:
##  get_recession_end()
##  '''Returns the year and quarter of the recession end time as a 
##  string value in a format such as 2005q3'''

In [140]:
def get_recession_end():
    get_recession_start()
    global gdp_rec
    gdp_rec = gdp_wrk.iloc[34:]
    last_num = None
    fi_num = 0
    for year, num in gdp_rec.itertuples(index=False):
        if last_num == None:
            last_num = num
            fi_num = num
        if num > last_num > fi_num:
            year = gdp_wrk.loc[(gdp_wrk['GDP_USD'] == num)]
            # assigned the row watned as a dataframe to a new df object
            # select the first element of the frame, the only from the column 'year_q'
            break
        fi_num = last_num
        last_num = num
    return year.iloc[0]['year_q']

In [74]:
## get_recession_bottom()
## Returns the year and quarter of the recession bottom time as a 
## string value in a format such as 2005q3'''

    year_q  GDP_USD
34  2008q3  14891.6
35  2008q4    14577
36  2009q1    14375
37  2009q2  14355.6
38  2009q3  14402.5
39  2009q4  14541.9
40  2010q1  14604.8
41  2010q2  14745.9
42  2010q3  14845.5
43  2010q4    14939
44  2011q1  14881.3
45  2011q2  14989.6
46  2011q3  15021.1
47  2011q4  15190.3
48  2012q1    15291
49  2012q2  15362.4
50  2012q3  15380.8
51  2012q4  15384.3
52  2013q1  15491.9
53  2013q2  15521.6
54  2013q3  15641.3
55  2013q4  15793.9
56  2014q1    15747
57  2014q2  15900.8
58  2014q3  16094.5
59  2014q4  16186.7
60  2015q1    16269
61  2015q2  16374.2
62  2015q3  16454.9
63  2015q4  16490.7
64  2016q1    16525
65  2016q2  16583.1
66  2016q3  16583.1

In [119]:
def get_recession_bottom(): 
    gdp_rec    
    gdp_min = gdp_rec['GDP_USD'].min()
     #find and assign minimum value GDP value
    rec_bot = gdp_rec['year_q'].loc[(gdp_rec['GDP_USD'] == gdp_min)]
    #query the row entry of the lowest gdp value, and select that same row from the year column, assign to rec_bot var
    return rec_bot.iloc[0]
    #output year and quarter of the corresponding lowest quarter

'2009q2'

In [11]:
### convert_housing_data_to_quarters()
#    '''Converts the housing data to quarters and returns it as mean 
#    values in a dataframe. This dataframe should be a dataframe with
#    columns for 2000q1 through 2016q3, and should have a multi-index
#    in the shape of ["State","RegionName"].
    
#    Note: Quarters are defined in the assignment description, they are
#    not arbitrary three month periods.
    
#    The resulting dataframe should have 67 columns, and 10,730 rows.

In [113]:
house_data = pd.read_csv('City_Zhvi_AllHomes.csv')

states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
    # reads in all housing data
house_data.replace({'State':states},inplace=True)
    #replaces all the two-letter state names with the full spelling
house_data.set_index(['State','RegionName'],inplace=True)
    # promotes those columns passed in to a multi-level index
## REGEX THINKING AND EXP. house_data.columns.str.contains("\A(?!199)")
    #\A anchors position start expresssion at beggining ^ expresssion says, look for strings that don't have the first 3 chars as 199
    #without positional arguments regex will just try to match that a sequence does on does not have section in the string at all
    #matching your expression, have an achor where you'd like it to start
    #negative lookahead '?!' does not contain what follows i.e (?!<anything don't want to match)
house_data = house_data.loc[:,(house_data.columns.str.contains("\A(?!199)"))]
    # returns df with only columns that do not contain 199 (All of the housing data from 2000 and onward)
only_price = house_data.loc[: , house_data.columns.str.contains("20")]
    #returns the df with only price data
year_quarter = gdp_wrk.year_q.values
    #an array containing only the ordered year/quarter indices
for period, quarter in zip(np.array_split(only_price, 67, axis=1), year_quarter): #zip is impt to make list of tuples to iterate through with two iterators
    house_data[quarter] = period.mean(axis=1)                                     #otherwise python won't use both args to iterate through atthe same time
    #breaks the df into 67 3 column chunks then takes the mean across each row
    # this mean value from those 3 months is assigned to the corresponing value from the quarter they came from, and added as a new column to the housing data

#### Purely REGEX thingking and explanation now:
    #only_price = only_price.loc[:,(only_price.columns.str.contains('\d\d\d\d(?!-).+')) ]
    #matches only those entries that after 4 digits are not followed by '-' then any character 1 or more times

house_data = house_data.loc[:,(house_data.columns.str.contains('\d\d\d\d(q)\d'))]
    #this matches columns with 4 digits then a 'q' in the fifth spot followed by another digit. (Matches only the aggregated by quarter housing price data)
house_data

C:\Users\Jason\Anaconda3\lib\site-packages\ipykernel\__main__.py:29: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
California,Los Angeles,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
Illinois,Chicago,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
Pennsylvania,Philadelphia,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
Arizona,Phoenix,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0
Nevada,Las Vegas,132600.000000,134366.666667,135400.000000,137000.000000,139533.333333,141733.333333,143366.666667,146133.333333,149333.333333,150933.333333,...,170066.666667,173400.000000,175466.666667,177500.000000,181600.000000,186766.666667,190633.333333,194600.000000,197200.000000,199950.0
California,San Diego,222900.000000,234366.666667,245433.333333,256033.333333,267200.000000,276266.666667,284500.000000,291933.333333,301233.333333,312866.666667,...,480200.000000,489033.333333,496433.333333,503366.666667,512066.666667,519766.666667,525466.666667,529333.333333,536233.333333,539750.0
Texas,Dallas,84466.666667,83866.666667,84866.666667,87833.333333,89733.333333,89300.000000,89066.666667,90900.000000,92566.666667,93800.000000,...,106633.333333,108900.000000,111533.333333,113700.000000,121133.333333,128566.666667,134600.000000,140500.000000,144600.000000,149300.0
California,San Jose,374266.666667,406566.666667,431866.666667,455500.000000,470666.666667,470200.000000,456800.000000,445566.666667,441433.333333,457766.666667,...,679400.000000,697033.333333,714933.333333,731433.333333,756733.333333,776400.000000,789133.333333,803600.000000,818933.333333,822200.0
Florida,Jacksonville,88600.000000,89700.000000,91700.000000,93100.000000,94400.000000,95600.000000,97066.666667,99066.666667,101233.333333,103433.333333,...,120766.666667,121733.333333,123166.666667,124166.666667,126900.000000,130133.333333,132000.000000,133966.666667,137200.000000,139900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
California,Forest Falls,113533.333333,114400.000000,114166.666667,111133.333333,113433.333333,113000.000000,113033.333333,115166.666667,118700.000000,125066.666667,...,165366.666667,167500.000000,177100.000000,176533.333333,181800.000000,191166.666667,198733.333333,188633.333333,189866.666667,186650.0
Missouri,Bois D Arc,107800.000000,106966.666667,107100.000000,108100.000000,110700.000000,113666.666667,112633.333333,112733.333333,113066.666667,115400.000000,...,137566.666667,137566.666667,140400.000000,145033.333333,147566.666667,146300.000000,149433.333333,146866.666667,143766.666667,144000.0
Virginia,Henrico,128566.666667,130766.666667,132266.666667,133266.666667,135233.333333,136733.333333,138600.000000,141333.333333,143533.333333,146133.333333,...,201633.333333,204000.000000,205900.000000,206566.666667,210433.333333,212100.000000,213966.666667,216033.333333,216200.000000,220150.0
New Jersey,Diamond Beach,173966.666667,183100.000000,188966.666667,193133.333333,194400.000000,210266.666667,230266.666667,248666.666667,259933.333333,265633.333333,...,381800.000000,387866.666667,387666.666667,393166.666667,398000.000000,399233.333333,400433.333333,404533.333333,403900.000000,399000.0
Tennessee,Gruetli Laager,35400.000000,35466.666667,36666.666667,37300.000000,37733.333333,37900.000000,39366.666667,40400.000000,41566.666667,41633.333333,...,55566.666667,56366.666667,57133.333333,58900.000000,65366.666667,69500.000000,71700.000000,75333.333333,76466.666667,77500.0
Wisconsin,Town of Wrightstown,101766.666667,105400.000000,111366.666667,114866.666667,125966.666667,129900.000000,129900.000000,129433.333333,131900.000000,134200.000000,...,144866.666667,146866.666667,149233.333333,148666.666667,149333.333333,149866.666667,149933.333333,149833.333333,151266.666667,155000.0
New York,Urbana,79200.000000,81666.666667,91700.000000,98366.666667,94866.666667,98533.333333,102966.666667,98033.333333,93966.666667,94600.000000,...,132133.333333,137033.333333,140066.666667,141700.000000,137866.666667,136466.666667,136166.666667,138966.666667,144200.000000,143000.0
Wisconsin,New Denmark,114566.666667,119266.666667,126066.666667,131966.666667,143800.000000,146966.666667,148366.666667,149166.666667,153133.333333,156733.333333,...,174566.666667,181166.666667,186166.666667,187600.000000,188666.666667,188433.333333,188933.333333,191066.666667,192833.333333,197600.0
California,Angels,151000.000000,155900.000000,158100.000000,167466.666667,176833.333333,183766.666667,190233.333333,184566.666667,184033.333333,186133.333333,...,244466.666667,254066.666667,259933.333333,260100.000000,250633.333333,263500.000000,279500.000000,276533.333333,271600.000000,269950.0
Wisconsin,Holland,151033.333333,150500.000000,153233.333333,155833.333333,161866.666667,165733.333333,168033.333333,167400.000000,165766.666667,161966.666667,...,201266.666667,201566.666667,201266.666667,206000.000000,207600.000000,212866.666667,217833.333333,221966.666667,228033.333333,234950.0

In [ ]:
### run_ttest():
#    '''First creates new data showing the decline or growth of housing prices
#    between the recession start and the recession bottom. Then runs a ttest
#    comparing the university town values to the non-university towns values, 
#    return whether the alternative hypothesis (that the two groups are the same)
#    is true or not as well as the p-value of the confidence. 
#    
#    Return the tuple (different, p, better) where different=True if the t-test is
#    True at a p<0.01 (we reject the null hypothesis), or different=False if 
#    otherwise (we cannot reject the null hypothesis). The variable p should
#    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
#    value for better should be either "university town" or "non-university town"
#    depending on which has a lower mean price ratio (which is equivilent to a
#    reduced market loss).'''

In [114]:
### first create new data showing the decline or growth of housing prices between the recession start and the rescession bottom

In [165]:
# Make another column in the DF titled 'price_ratio'
# price_ratio = quarter_before_recession/recession_bottom
# get the columns out of df that are, quarter before recession start and recession bottom for use in this calculation
recession_bottom = get_recession_bottom()
    ### assign the columns name for the recession bottom to variable
quarter_before_recession = house_data.columns[(house_data.columns.get_loc(get_recession_start()) - 1)]
    ### gets the integer index location of the recession start with get_loc method
    ### returns an integer, subtracts 1 from that to get integer index location for the quarter before
    ### then uses that integer of column loc before rec start to return the column header into the variable value
house_data['price_ratio'] = house_data[quarter_before_recession]/house_data[recession_bottom]
    ### price_ratino = 1; no change in house prices,  
    ### price_ratio < 1; an increase in value ( house prices rose during the recession)
    ### price_ratio > 1; a decrease in value (house prices over the recession)
house_data['price_ratio']
    ### then split into university towns take the mean of the price_ratio
    ### non-university towns take the mean ratio
univ_towns = get_list_of_university_towns()
univ_towns.set_index(['State','RegionName'],inplace=True)
    ### to query only the university towns I need, have to construct a list of tuples from the indexes of the univ_towns df then pass that list in
univ_towns.index.tolist()
    ### converts the indexes of this multi-level dataframe to a list of tuples that can be passed to query the matching price_ration values for the 
house_data.loc[univ_towns.index.tolist(),'price_ratio']
    ### retuns only values that are listed university towns

Alabama         Auburn                                                           NaN
                Florence                                                         NaN
                Jacksonville                                                     NaN
                Livingston                                                       NaN
                Montevallo                                                  0.950479
                Troy                                                             NaN
                Tuscaloosa                                                  1.017770
                Tuskegee                                                         NaN
Alaska          Fairbanks                                                   1.127970
Arizona         Flagstaff                                                   1.084557
                Tempe                                                       1.125462
                Tucson                                                      1.098763
Arkansas        Arkadelphia                                                      NaN
                Conway                                                      0.996482
                Fayetteville                                                1.063659
                Jonesboro                                                        NaN
                Magnolia                                                         NaN
                Monticello                                                       NaN
                Russellville                                                     NaN
                Searcy                                                           NaN
California      Angwin                                                           NaN
                Arcata                                                      1.113252
                Berkeley                                                    1.067911
                Chico                                                       1.075782
                Claremont                                                   1.097610
                Cotati                                                      1.178497
                Davis                                                       0.973927
                Irvine                                                      1.097770
                Isla Vista                                                       NaN
                University Park, Los Angeles                                     NaN
                Merced                                                      1.408205
                Orange                                                      1.221979
                Palo Alto                                                   1.080125
                Pomona                                                      1.498671
                Redlands                                                    1.108343
                Riverside                                                   1.453341
                Sacramento                                                  1.252753
                University District, San Bernardino                              NaN
                San Diego                                                   1.133248
                San Luis Obispo                                             1.045885
                Santa Barbara                                               1.108410
                Santa Cruz                                                  1.045023
                Turlock                                                     1.296216
                Westwood, Los Angeles                                            NaN
                Whittier                                                    1.201855
Colorado        Alamosa                                                          NaN
                Boulder                                                     1.001500
                Durango                                                     1.057624
                Fort Collins                                                1.026878
                Golden                                                      1.001658
                Grand Junction                                              1.052938
                Greeley                                                     1.059637
                Gunnison                                                         NaN
                Pueblo, Colorado                                                 NaN
Connecticut     Fairfield                                                   1.102486
                Middletown                                                  1.069035
                New Britain                                                 1.091582
                New Haven                                                   1.091263
                New London                                                  1.093427
                Storrs                                                           NaN
                Willimantic                                                 1.060806
Delaware        Dover                                                       1.057644
                Newark                                                      1.050982
Florida         Ave Maria                                                        NaN
                Boca Raton                                                  1.210819
                Coral Gables                                                1.224915
                DeLand                                                           NaN
                Estero                                                      1.166769
                Gainesville                                                 1.133265
                Orlando                                                     1.260287
                Sarasota                                                    1.174842
                St. Augustine                                                    NaN
                St. Leo                                                          NaN
                Tallahassee                                                 1.064035
                Tampa                                                       1.223208
Georgia         Albany                                                      1.030343
                Athens                                                      1.058913
                Atlanta                                                     1.142976
                Carrollton                                                       NaN
                Demorest                                                    1.027520
                Fort Valley                                                 1.088953
                Kennesaw                                                    1.107720
                Milledgeville                                                    NaN
                Mount Vernon                                                     NaN
                Oxford                                                      1.080951
                Rome                                                             NaN
                Savannah                                                    1.026227
                Statesboro                                                       NaN
                Valdosta                                                    1.090661
                Waleska                                                     1.042762
                Young Harris                                                     NaN
Hawaii          Manoa                                                            NaN
Idaho           Moscow                                                           NaN
                Pocatello                                                        NaN
                Rexburg                                                          NaN
Illinois        Carbondale                                                       NaN
                Champaignâ€“Urbana                                                 NaN
                Charleston                                                       NaN
                DeKalb                                                           NaN
                Edwardsville                                                1.007394
                Evanston                                                    1.084887
                Lebanon                                                     1.027893
                Macomb                                                           NaN
                Normal                                                           NaN
                Peoria                                                      1.012416
Indiana         Bloomington                                                 1.022321
                Crawfordsville                                              1.133040
                Greencastle                                                 1.002756
                Hanover                                                     1.058394
                Marion                                                      1.040717
                Muncie                                                      1.045788
                Oakland City                                                1.212320
                Richmond                                                    1.044396
                South Bend                                                  1.169745
                Terre Haute                                                 1.041150
                Upland                                                      0.980250
                Valparaiso                                                  0.968374
                West Lafayette                                              0.902085
Iowa            Ames                                                             NaN
                Cedar Falls                                                      NaN
                Cedar Rapids, Iowa                                               NaN
                Decorah                                                          NaN
                Fayette                                                          NaN
                Grinnell                                                         NaN
                Iowa City                                                        NaN
                Lamoni                                                           NaN
                Mount Vernon,                                                    NaN
                Orange City                                                      NaN
                Sioux Center                                                     NaN
                Storm Lake                                                       NaN
                Waverly                                                          NaN
Kansas          Baldwin City                                                0.966102
                Emporia                                                          NaN
                Hays                                                             NaN
                Lawrence                                                    0.954045
                Manhattan                                                        NaN
                Pittsburg                                                        NaN
Kentucky        Bowling Green                                                    NaN
                Columbia                                                         NaN
                Georgetown                                                       NaN
                Highland Heights                                            1.030700
                Lexington                                                   0.997855
                Louisville                                                  1.010306
                Morehead                                                         NaN
                Murray                                                           NaN
                Richmond                                                         NaN
                Williamsburg                                                     NaN
                Wilmore                                                     1.046902
Louisiana       Baton Rouge                                                      NaN
                Grambling                                                        NaN
                Hammond                                                          NaN
                Lafayette                                                   0.954803
                Monroe                                                      0.943165
                Natchitoches                                                0.919557
                Ruston                                                      0.954812
                Thibodaux                                                        NaN
Maine           Augusta                                                          NaN
                Bar Harbor                                                       NaN
                Brunswick                                                        NaN
                Farmington                                                       NaN
                Fort Kent                                                        NaN
                Gorham                                                           NaN
                Lewiston, Maine                                                  NaN
                Orono                                                            NaN
                Waterville                                                       NaN
Maryland        Annapolis                                                   1.119486
                Chestertown                                                 1.082105
                College Park                                                1.185959
                Cumberland                                                  1.024025
                Emmitsburg                                                  1.044573
                Frostburg                                                   1.043426
                Princess Anne                                                    NaN
                Towson                                                      1.067304
                Salisbury                                                   1.065778
                Westminster                                                 1.065937
Massachusetts   Boston                                                      1.070008
                Bridgewater                                                      NaN
                Cambridge                                                   0.997303
                Chestnut Hill                                                    NaN
                The Colleges of Worcester Consortium:                            NaN
                Dudley                                                      1.117807
                North Grafton                                                    NaN
                Paxton                                                      1.106287
                Worcester                                                   1.127820
                The Five College Region of Western Massachusetts:                NaN
                Amherst                                                     1.038575
                Northampton                                                 1.002474
                South Hadley                                                1.050274
                Fitchburg                                                   1.098483
                North Adams                                                 1.104726
                Springfield                                                 1.111861
                Waltham                                                     1.050857
                Williamstown                                                     NaN
                Framingham                                                  1.095468
Michigan        Adrian                                                           NaN
                Albion                                                      1.091748
                Allendale                                                        NaN
                Alma                                                             NaN
                Ann Arbor                                                   1.052823
                Berrien Springs                                             1.086066
                Big Rapids                                                       NaN
                East Lansing                                                1.084044
                Flint                                                       1.259396
                Hillsdale                                                   1.172000
                Houghton                                                         NaN
                Kalamazoo                                                   1.057596
                Marquette                                                        NaN
                Midland                                                          NaN
                Mount Pleasant                                                   NaN
                Olivet                                                      1.065415
                Saginaw                                                     1.083030
                Sault Ste. Marie                                                 NaN
                Spring Arbor                                                1.037683
                Ypsilanti                                                   1.089316
Minnesota       Bemidji                                                          NaN
                Crookston                                                        NaN
                Duluth                                                           NaN
                Faribault, South Central College                                 NaN
                Mankato                                                     1.063579
                Marshall                                                         NaN
                Moorhead                                                    1.005379
                Morris                                                           NaN
                Northfield                                                       NaN
                North Mankato, South Central College                             NaN
                St. Cloud                                                        NaN
                St. Joseph                                                       NaN
                St. Peter                                                        NaN
                Winona                                                           NaN
Mississippi     Cleveland                                                   0.984249
                Hattiesburg                                                 0.971377
                Itta Bena                                                        NaN
                Oxford                                                      0.983206
                Starkville                                                       NaN
Missouri        Bolivar                                                          NaN
                Cape Girardeau                                                   NaN

In [115]:
### Then runs a ttest comparing the university town values to non-university towns returns whether or not the alternative hyootheiss is true as well as the p-value of the condience
### E.C effect size of difference is one is exhibited